* {
    margin: 0;
    padding: 0;
    font-size: 10px;
    font-family: sans-serif;
    text-align: center;
}

body {
    background-color: rgb(228, 117, 204);
    margin: 0 5%;
    display: grid;
    min-height: 100vh;
    align-items: center;
}
h1{
    font-size: 10vh;
    text-transform: uppercase;
}
#clock {
    width: 30vw;
    height: 30vw;
    border: 2vw solid black;
    margin:  auto;
    padding: 2vw;
    background-color: white;
    box-shadow: inset 0 0 0 1vw grey;
}

.clock-face {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px);
}

.center {
    width: 20px;
    height: 20px;
    border: 0.25vw solid black;
    border-radius: 50%;
    background-color: black;
    z-index: 5;
    position: absolute;
    left: calc(50% - 13px);
    top: calc(50% - 10px);
}

.hand {
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    z-index: 2;
    transform-origin: 100%;
    transition: all 0.1s cubic-bezier(0.1, 2.7, 0.58, 1);
}

.second-hand {
    background-color: red;
    height: 0.25vw;
    width: 45%;
    left: 5%;
}

.min-hand {
    height: 1vw;
    width: 50%;
}

.hour-hand {
    height: 1.5vw;
    width: 35%;
    left: 15%;
}

.time {
    position: absolute;
    top: 30%;
    right: 35%;
    border: 1px solid black;
    background-color: white;
    padding: 0.5vw;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    min-width: 25%;
    width: fit-content;
    z-index: 1;
    font-weight: bold;
    font-size: 2vw;
}

.time small {
    font-size: 1.5vw;
    color: red;
}

#clock ul {
    list-style: none;

}

#clock ul li {
    position: absolute;
    color: grey;
    font-size: 2vw;
    font-weight: bold;
    text-align: center;
}

#clock ul li:nth-child(3),
#clock ul li:nth-child(6),
#clock ul li:nth-child(9),
#clock ul li:nth-child(12) {
    color: black;
    font-size: 3vw;
}

#clock ul li:nth-child(1) {right: 25%; top: 5%;}
#clock ul li:nth-child(2) {right: 7%; top: 22%;}
#clock ul li:nth-child(3) {right: 0; top: 45%; }
#clock ul li:nth-child(4) {right: 6%; top: 70%;}
#clock ul li:nth-child(5) {right: 24%; bottom: 4%;}
#clock ul li:nth-child(6) {right: 45%; top: 92%;}
#clock ul li:nth-child(7) {left: 22%; bottom: 4%;}
#clock ul li:nth-child(8) {left: 5%; top: 70%;}
#clock ul li:nth-child(9) {left: -1%; top: 45%;}
#clock ul li:nth-child(10) {left: 6%; top: 22%;}
#clock ul li:nth-child(11) {left: 24%; top: 5%;}
#clock ul li:nth-child(12) {right: 43%; top: -2%;}


/* .ticks {
    position: absolute;
    z-index: 1;
    width: 2px;
    height: 15px;
    background: #666;
    left: 50%;
    top: 4%;
    margin-left: -1px;
    transform-origin: 50% 15.5vw;
    opacity: 0;
}

.ticks:nth-of-type(5n+1) {
    width: 4px;
    height: 25px;
} */